* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
    font-family: 'coneria_script_demoregular';
    src: url('../fonts/demo_coneriascript-webfont.woff2') format('woff2'),
         url('../fonts/demo_coneriascript-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
body{

}

h1{
    float: left;
    font-family: 'coneria_script_demoregular', sans-serif;
}

.clear{
    clear: both;
}

.page{
  width: 75%;
  height: 100vh;
  margin: 0 auto;

  background-position: center;
  background-repeat: no-repeat;
  border-right: 4px dotted black;
  border-left: 4px dotted black;
}

.header{

    display: flex;
    justify-content: space-around;
    margin-top: 40px ;
    margin-bottom: 3em;

}

.right-side {
  width: 10%;
  padding-top: 20px;
  background-color: #427e14;
}

.left-side{
  background-color: red;
}

.next-page-buttons{
    padding: 40px 40px;
    width: 50%;
    margin: 0;
    box-sizing: border-box;
    float: left;


}

.button {
    height: 3em;
    margin-bottom: 3em;
	background-color:#191919;
	border-radius:6px;
	cursor:pointer;
	color:#ffffff;
	font-family:"coneria_script_demoregular", sans-serif;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
    text-align: center;
    min-width: 200px;
}
.button:hover {
	background-color: lightgray;
}
.button:active {
	position:relative;
	top:1px;
}

.bg{
    background-image: url(../images/pizzabgvertical.jpg);
    background-repeat: no-repeat;
    background-origin: content-box;
    height: auto;
    background-size: 100%;
    overflow: hidden;
    min-height: 100%;
    display: inline-block;

}
