* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
    font-family: 'coneria_script_demoregular';
    src: url('../fonts/demo_coneriascript-webfont.woff2') format('woff2'),
         url('../fonts/demo_coneriascript-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body{
  background-color: #f5f3ee;
}

img{
    max-width: 65%;
}

h1{
    float: left;
    font-family: 'coneria_script_demoregular', sans-serif;
    padding: 40px 10px;
}

.clear{
    clear: both;
}

.page{
  width: 75%;
  height: 100vh;
  margin: 0 auto;
}

.header{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px ;
}

.right-side {
  width: 10%;
  padding-top: 20px;
  background-color: #008c45;
}

.left-side{
  background-color: #cd212a;
}

.top-margin{
  margin-top: 15px;
}
/* Main menu */

.buttons{
    /* Container for buttons */
  background-color: #720000;
  max-width: 650px;
  margin: 0 auto;
  overflow: hidden; 
}

.button{
    /* Defining general shape of button */

    height: 300px;
    width: 50%;
    float: left;
    position: relative;
    transform: scale(1);
}

.button:active{
  transform: scale(0.95);
  transition: transform 0.2s;
}

.centered {
    /* Centered text */

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #fafafa;
  }

.centered p{
    font-size: large;
    text-shadow: 1px 1px #333;
}

.back-button{
  margin: 0px 20px;
  position: absolute;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* Menu page */

.menu-item-container{
  display: flex;
  flex-wrap: wrap;
  max-width: 750px;
  margin: auto;
  background-color: #720000;
}

.menu-section-name{
  width: 100%;
  display: flex;
  justify-content: center;

}

.menu-section-name h1{
  float: none;
  display: flex;
  padding: 10px 0px;
  background-color:#f5f3ee;
  width: 100%;
  justify-content: center;

}

.menu-item{
  width: calc(50% - 40px);
  min-height: 8em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  padding: 0 10px;
  margin: 20px;
}

.food-name, .drink-name{
  font-size: xx-large;
  font-style: italic;
}

.ingridients{
  padding-top: 10px;
}

/* About page */

hr{
  margin: 10px 0;
}

.about-text p{
  line-height: 1.6;
  text-align: justify;
}

/* Contacts page*/

.contact{
  max-width: 750px;
  margin: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  
}

.contact-item, .field-input, textarea{
  width: 100%;
}

.contact-map{
  margin: auto;
}

.textwrapper
{
  border:1px solid #999999;
  padding:3px;
}

.actions{
  padding: 20px 0px;
}

#submit{
  width: 10em;
  height: 2em;
}

/* Table booking */

.booking-container{
  width:  400px;
  margin: auto;
}

.booking-items{
  
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  
}

.booking-items h2, .full{
  width: 100%;
}

.dropdown-times{
  display: none;
  max-width: 250px;
  background-color: white;
  border: 1px solid black;
}

.dropdown-times p {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 10px 0px;
}

.not-hidden{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly; 
}

.time-btn{
  background-color: transparent;
  padding: 4px;
  margin: 4px;
}

.time-list{
  list-style-type: none;
}

.a{
  width: 25%;
  display: flex;
  justify-content: center;
}

.booking-input, .booking-items h2{
  display: flex;
  margin-bottom: 20px;
  justify-content: center;
  padding: 3px;
}