* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
    font-family: 'coneria_script_demoregular';
    src: url('../fonts/demo_coneriascript-webfont.woff2') format('woff2'),
         url('../fonts/demo_coneriascript-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

img{
    max-width: 58%;
   
}

h1{
    float: left;
    font-family: 'coneria_script_demoregular', sans-serif;
    padding: 40px 10px;
}

.clear{
    clear: both;
}

.page{
  width: 75%;
  height: 100vh;
  margin: 0 auto;

}

.header{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px ;
}

.right-side {
  width: 10%;
  padding-top: 20px;
  background-color: #008c45;
}

.left-side{
  background-color: #cd212a;
}

.buttons{
    /*
    Container for buttons

    */
    background-color: #720000;
    background-position: top 30px;
    max-width: 650px;
    margin: 0 auto;
    overflow: hidden;
    background-repeat: no-repeat;
    
}

.button{
    /* Defining general shape of button

    todo: add marigins

    height: 50%;
    width: 50%;
    float: left;
    */
    height: 300px;
    width: 50%;
    float: left;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
   
}




.centered {
    /* Centered text */

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #fafafa;
  }

.centered p{
    font-size: large;
    text-shadow: 1px 1px #333;
}

