* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header{
  display: flex;
  justify-content: space-between;
  margin-top: 20px ;
  margin-bottom: 3em;
}
.page{
  width: 75%;
  margin: 0 auto;
}

h1{
    float: left;
    font-family: Trebuchet MS;
}

.right-side {
  width: 35%; /* Set the width of the sidebar */
  padding-top: 20px;
  background-color: #427e14;
  display: grid;
}

.left-side{
  background-color: red;
}

.next-page-buttons{
    padding: 40px 0;
    margin: auto 0;
    display: flex;
    justify-content: space-around;

}

.button {
	background:linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
	background-color:#ffffff;
	border-radius:6px;
	border:2px solid #dcdcdc;
	cursor:pointer;
	color:#666666;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
    text-align: center;
    width: 20%;
}
.button:hover {
	background:linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%);
	background-color:#f6f6f6;
}
.button:active {
	position:relative;
	top:1px;
}

.myButton {
    transition: background 0.5s;
	box-shadow: 5px 4px 4px -1px #616161;
	background-color:#ffb433;
	border-radius:42px;
	border:6px solid #e89300;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Trebuchet MS;
	font-size:17px;
	padding:24px 22px;
	text-decoration:none;
	text-shadow:1px 1px 0px #991006;
}
.myButton:hover {
	background-color:#ffd814;
}
.myButton:active {
	position:relative;
	top:1px;
}
