* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header{
  display: flex;
  justify-content: space-between;
}
.page{
  width: 75%;
  margin: 0 auto;

  margin-top: 20px;
}

h1{
    float: left;
}

.right-side {
  width: 260px; /* Set the width of the sidebar */
  padding-top: 20px;
  background-color: 	#427e14;


}

.left-side{
  background-color: red;
}
